
/Notebooks/.ipynb_checkpoints
/Notebooks/LM-Notebooks/.ipynb_checkpoints
.ipynb_checkpoints/README-checkpoint.md
.env
/Notebooks/LangChain/.ipynb_checkpoints
LLM-Images/.ipynb_checkpoints/openai-white-lockup-checkpoint.png
Papers/GPT/.ipynb_checkpoints/2024-10-14_18_45_30_export-checkpoint.csv
Notebooks/Week-2/.ipynb_checkpoints/API-Usage-LLM-Interaction-checkpoint.ipynb
Notebooks/Week-2/.ipynb_checkpoints/Evaluating-LLMs-checkpoint.ipynb
Notebooks/Week-2/.ipynb_checkpoints/evaluation_summary-checkpoint.json
Notebooks/Week-2/.ipynb_checkpoints/evaluation_summary_comparison-checkpoint.json
Notebooks/Week-2/.ipynb_checkpoints/temp_test_run_data-checkpoint.json
