
/Notebooks/.ipynb_checkpoints
/Notebooks/LM-Notebooks/.ipynb_checkpoints
.ipynb_checkpoints/README-checkpoint.md
.env
/Notebooks/LangChain/.ipynb_checkpoints
LLM-Images/.ipynb_checkpoints/openai-white-lockup-checkpoint.png
Papers/GPT/.ipynb_checkpoints/2024-10-14_18_45_30_export-checkpoint.csv
Notebooks/Week-2/.ipynb_checkpoints/API-Usage-LLM-Interaction-checkpoint.ipynb
Notebooks/Week-2/.ipynb_checkpoints/Evaluating-LLMs-checkpoint.ipynb
Notebooks/Week-2/.ipynb_checkpoints/evaluation_summary-checkpoint.json
Notebooks/Week-2/.ipynb_checkpoints/evaluation_summary_comparison-checkpoint.json
Notebooks/Week-2/.ipynb_checkpoints/temp_test_run_data-checkpoint.json
/Notebooks/Week-3/.ipynb_checkpoints
/Notebooks/Week-4/.ipynb_checkpoints
Notebooks/1-Setup-Foundations/LangChain/.ipynb_checkpoints/0_simple-graph-checkpoint.ipynb
Notebooks/1-Setup-Foundations/LangChain/.ipynb_checkpoints/4_agent-memory-checkpoint.ipynb
*.ipynb_checkpoints
.DS_Store
/Notebooks/7-Building-AI-Assistants/AI-Assistant
# pycache
__pycache__/
*.py[cod]
Notebooks/7-Building-AI-Assistants/__pycache__/openai_model_selector.cpython-313.pyc
